html, body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar{
    color:white;
    background-color: #1b1b1b;
    box-sizing: border-box;
    padding: 0px;
}

.navbar ul{
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0.35em 0px;
    position: relative;
    left: 70%;
}

.navbar li{
    width: 10%;
    display: inline-block;
    text-align: right;
}
.navbar img{
    cursor: pointer;
}

.copyModal{
    background: rgb(1, 209, 1);
    text-align:center;
    padding: 1.2%;
    color: rgb(255, 255, 255);
    font-size: 0.85em;
}

main{
    text-align: center;
}
.download{
    display:inline-block;
    margin: 2% auto;
    background-color: #0f00e7;
    color: #FFFFFF;
    border: 1px solid #1103d6;
    font-size: 14px;
}

.download span{
    padding: 0px 7px;
    cursor: pointer;
}

.download a{
    text-decoration: none;
    color:inherit;
    font-size: inherit;
}

.download select{
    border:none;
    color:white;
    border-left: 1px dashed #500092;
    background-color: #0f00e7;
}
.name{
    text-align: center;
    margin:0;
}

/* mobile */


/* pseudo class */
.navbar li:last-child{
    margin-left: -0.5%;
}