body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* nav-bar */
.navbar{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 0.7em;
}

.navbar div {
    margin-right: 0.5em;
    margin-top: 0.3em;
}

navbar img:hover{
    background-color: #ff1e56;
}
/*end of nav-bar */


/*main content */
.intro-text, .skills, .work-exp, footer {
    width: 90%;
    margin: 0 auto;
    background-color: #0e0e0e;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eeeeee;
    padding: 0.3em;
    margin-bottom: 0.7em;
}

.intro-text {
    line-height: 170%;
    padding: 0.8em;
}

.name{
    color: #ffac41;
    font-size: 35px;
    font-weight: bold;
}

.skills h2, .work-exp h2, .skills ul{
    padding: 0.2em;
    font-size: 1.2em;
}

.work-exp h4{
    margin-bottom: 0.35em;
    margin-left: -1.25em;
}

.skills ul {
    width: 78%;
    font-size: 0.9em;
    margin: 0 auto;
    text-decoration: #ffac41;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande',  Arial, sans-serif
}
/*end of main content */

/*footer */
footer {
        padding-left: 1em;
        text-align: left;
        font-size: 0.9em;
        display: flex;
}

footer .number{
    flex-grow: 1;
}
/*end of footer */

/*media query for tablets */
@media only screen and (min-width: 440px) {
        body{
            font-size: 1.1em;
        }

       .skills ul {
        width: 80%;
        }

        .navbar img{
            width: 25px;
            height: 25px;
        }
}
@media only screen and (min-width: 440px) {
   .skills ul {
    width: 87%;
    }
}
/*end of media query for tablets */

/*media query for desktops */
@media only screen and (min-width: 768px) {
    body{
        font-size: 1.35em;
    }
    .skills ul {
        width: 89%;
    }

    footer img{
        width: 32px;
        height: 32px;
    }
}
@media only screen and (min-width: 1024px) {
    body{
        font-size: 1.35em;
    }
    .skills ul {
        width: 95%;
    }


    footer .number{
        padding-top: 0.5em;
    }
    footer img{
        width: 35px;
        height: 35px;
    }
}
/*end of media query for desktops */